﻿<div class="section">
	<article>
		<header>
			<h2 class="section-title">{{section.title}}</h2>
		</header>

		<subsection ng-repeat="subsection in section.subsections">
		</subsection>

		<div>
			<tag ng-repeat="tag in section.tags"></tag>
		</div>
	</article>
</div>