﻿<div class="subsection">

	<h3 class="subsection-title">{{subsection.title}}</h3>

	<div>
		<fact ng-repeat="fact in subsection.facts"></fact>
	</div>

	<div>
		<tag ng-repeat="tag in subsection.tags"></tag>
	</div>
</div>