﻿body {
}

.title {

}

.section {

}

.subsection {

}

.chapter {

}

.tag {

}

.year {

}

$orange: #ff6a00;
$blue: #0094ff;
$green: #4cff00;
$gray: #808080;

.chapter-title {
	color: $orange;
}

.section-title {
	color: $blue;
}

.subsection-title {
	color: $green;
}

.tag-title {
	color: $gray;
}