﻿@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="LifeInTheUKApp">
	<div ng-view></div>
	@*<div ng-controller="MainController as main">
		<chapter ng-repeat="chapter in main.chapters"></chapter>
	</div>*@
</div>

@section AddToHead {
	<environment names="Development">
		<script src="~/ts/app/init.js"></script>
		<script asp-src-include="~/ts/app/**/*.js" asp-src-exclude="~/ts/app/app.js,~/ts/app/init.js"></script>
		<script src="~/ts/app/app.js"></script>
	</environment>
}